
#
# This environment file sets variables for the development
# Database specifics are set in the docker-compose file and the ORIGIN is not required for local development
#

# prisma database url
DATABASE_URL="postgresql://prisma:prisma@localhost:5432/finances?schema=public"

# lucia admin account values
LUCIA_ADMIN_USERNAME="admin"
LUCIA_ADMIN_PASSWORD="admin"

# legal notice data
LEGAL_NOTICE_NAME="Name"
LEGAL_NOTICE_STREET="Street"
LEGAL_NOTICE_ZIP_CITY="ZIP City"
LEGAL_NOTICE_COUNTRY="Country"
LEGAL_NOTICE_PHONE="Phone"
LEGAL_NOTICE_EMAIL="Email"
