
# database information
DATABASE_USER="portfolio"
DATABASE_PASSWORD="portfolio"
DATABASE_NAME="portfolio"

# prisma database url
DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@postgres:5432/$DATABASE_NAME?schema=public"

# svelte origin (has to be correct to post requests)
ORIGIN=https://thielker.dev

# lucia admin account
LUCIA_ADMIN_USERNAME="admin"
LUCIA_ADMIN_PASSWORD="admin"

# legal notice data
LEGAL_NOTICE_NAME="Name"
LEGAL_NOTICE_STREET="Street"
LEGAL_NOTICE_ZIP_CITY="ZIP City"
LEGAL_NOTICE_COUNTRY="Country"
LEGAL_NOTICE_PHONE="Phone"
LEGAL_NOTICE_EMAIL="Email"

